Source: stcgal
Section: unknown
Priority: optional
Maintainer: Andrew Andrianov <andrew@ncrmnt.org>
Build-Depends: debhelper (>= 9), python3, python3-setuptools
Standards-Version: 3.9.5
XS-Python-Version: all
Homepage: https://github.com/grigorig/stcgal
#Vcs-Git: git://anonscm.debian.org/collab-maint/stcgal.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/stcgal.git;a=summary

Package: stcgal
Architecture: any
Depends: ${misc:Depends}, python3, python3-serial
XB-Python-Version: ${python3:Versions}
Description: OpenSource STC ISP tool
 stcgal is a command line flash programming tool for STC MCU Ltd 8051 compatible microcontrollers. The name was inspired by avrdude
